.data-table .col {
  cursor: pointer;
}

.data-table .col .carrot:after {
  font-size: 80%;
  content: "";
  margin-right: 16px;
}

.data-table .col .carrot:hover:after {
  font-size: 80%;
  content: " 🔻";
  margin-right: 0;
}
